.App {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .home, .histoire, .menu, .contact {
    padding: 50px 20px;
  }
  
  .home {
    background-color: #f4f4f4;
  }
  
  .services, .contact {
    background-color: #fff;
  }
  
  .menu {
    background-color: #f4f4f4;
  }
  
  h1, h2 {
    color: #333;
  }
  
  p, ul {
    color: #666;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin: 10px 0;
  }
  